Options +FollowSymlinks
RewriteEngine On

# If the request contains .rdf, .ttl or .html, pass it through
RewriteCond %{REQUEST_URI} .*\.(html|ttl|rdf).*
RewriteRule ^.* - [L]

# Redirect vocabulary urls to most recent version of vocabulary in requested format
RewriteCond %{HTTP:Accept} application/rdf\+xml
RewriteRule ^vocabulary/themes/.*$ /vocabulary/themes/20231122.rdf [L,R=303]
RewriteCond %{HTTP:Accept} text/turtle
RewriteRule ^vocabulary/themes/.*$ /vocabulary/themes/20231122.ttl [L,R=303]
RewriteCond %{HTTP:Accept} text/html
RewriteRule ^vocabulary/themes/$ /vocabulary/themes/20231122.html [L,R=303]

RewriteCond %{HTTP:Accept} application/rdf\+xml
RewriteRule ^vocabulary/licenses/.*$ /vocabulary/licenses/20240716.rdf [L,R=303]
RewriteCond %{HTTP:Accept} text/turtle
RewriteRule ^vocabulary/licenses/.*$ /vocabulary/licenses/20240716.ttl [L,R=303]
RewriteCond %{HTTP:Accept} text/html
RewriteRule ^vocabulary/licenses/$ /vocabulary/licenses/20240716.html [L,R=303]

RewriteCond %{HTTP:Accept} application/rdf\+xml
RewriteRule ^vocabulary/publishers/.*$ /vocabulary/publishers/20210623.rdf [L,R=303]
RewriteCond %{HTTP:Accept} text/turtle
RewriteRule ^vocabulary/publishers/.*$ /vocabulary/publishers/20210623.ttl [L,R=303]
RewriteCond %{HTTP:Accept} text/html
RewriteRule ^vocabulary/publishers/$ /vocabulary/publishers/20210623.html [L,R=303]

# Redirect urls for vocabulary terms to anchors in most recent version
# This is only relevant for HTML requests
RewriteCond %{HTTP:Accept} text/html
RewriteRule ^vocabulary/themes/(.*) /vocabulary/themes/20231122.html#$1 [L,NE,R=303]
RewriteCond %{HTTP:Accept} text/html
RewriteRule ^vocabulary/licenses/(.*) /vocabulary/licenses/20240716.html#$1 [L,NE,R=303]
RewriteCond %{HTTP:Accept} text/html
RewriteRule ^vocabulary/publishers/(.*) /vocabulary/publishers/20210623.html#$1 [L,NE,R=303]

# Serve Turtle files with correct MIME type and UTF-8 encoding
AddType text/turtle .ttl
AddType application/rdf+xml .rdf
AddType text/html .html
AddDefaultCharset UTF-8